doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Nicolas Garcia Frontend
        link(rel="stylesheet", href="/css/estilos.css")
        <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@500&family=Quicksand:wght@300;400;600&display=swap" rel="stylesheet">
    body 
        main.contenedor
            section.home 
                img.home__imagen-pato(src="/assets/imagenes/pato1.png", alt="Pato con una laptop y un cafecito")
                h1.home__titulo Hola!, Soy Nicolas Garcia.
                article.perfil 
                    img.perfil__imagen-perfil(src="/assets/imagenes/nico.png", alt="Imagen de perfil del desarrollador web")
                    p.perfil__parrafo-inicial Desarrollador Front-end JavaScript.
            section.proyectos 
                h2.proyectos__titulo Proyectos
                article.contenedor-proyectos
                    a(href='https://regal-eclair-dcdafa.netlify.app/#plans' target="_blank" class='link-img') 
                        img.link-img__imagen(src="/assets/imagenes/proyecto.png", alt="")
                    
            section.quien-soy  
                h2.quien-soy__titulo Quien soy
                P.quien-soy__parrafo Soy Nicolas Garcia Pi単eros, desarrollador Front-end, soy nuevo en el desrrollo web. Con las habilidades que dia a dia voy adquiriendo desarrollo productos digitales con sistemas de dise単o amigables para el usuario, interactivos y funcionales.
            section.contacto 
                img.contacto__imagen(src="/assets/imagenes/pato2.png", alt="Pato con un celular en la alita")
                h2.contacto__titulo Contacto  
                form.contacto__formulario(action="https://formsubmit.co/1e4d89dd784a81730e2fce4bd233ad88" method="POST")
                    p Nombre
                    input(type="text" name="name" placeholder="Nombre")
                    p Asunto
                    input(type="text" name="subject" placeholder="Asunto")
                    p Correo
                    input(type="email" name="email" placeholder="@Correo")
                    p 多Como puedo ayudarte?
                    textarea(name="textarea", cols="30", rows="10") 
                    input(type="submit" name="Enviar" value="Enviar" class='boton-formulario')
                    input(type="hidden" name="_next" value="http://172.22.252.41:5500/")
                    input(type="hidden" name="_captcha" value="false")
                article.contacto__redes-sociales 
                    .github
                        a(href="https://github.com/nicolasegpla" target="_blank" ) 
                            img(src="/assets/iconos/github.png", alt="", class="github")
                    .linkedin
                        a(href="https://www.linkedin.com/in/frontend-nicolas-garcia/" target="_blank" ) 
                            img(src="/assets/iconos/linkedin.png", alt="", class="linkedin")
                footer.footer 
                    p.footer__hecho-por Desarrollado por: Nicolas Edixon Garcia Pi単eros 
                    a.footer__migithub(href="https://github.com/nicolasegpla/portafolio" target='_blank') Quieres ver mi codigo
                    p.footer__fecha 2022. 


                          
                
